aside{
	grid-area: aside;
	background: var(--dark-background-color); 
}
.aside-block{
	padding:30px 20px;
	margin:10px auto;
	border-bottom:10px solid var(--main-background-color);
}
.aside-input{
	display:block;
	padding:5px 10px;
	margin:0 auto;
	outline:none;
	border:1px solid black;
	color:white;
	margin-bottom:15px;
	background: var(--main-background-color);
}
.subscribe-submit{
	display:block;
	cursor:pointer;
	padding:15px 20px;
	margin:0 auto;
	font-size:1em;
	outline:none;
	border:1px solid black;
	color:white;
	background: var(--main-background-color);
}
.side-description__title{
	text-align:center;
	font-size:1.2em;
}

.side-description{
	padding:20px 40px;
}
.side-description__content p{
	text-align: justify;
}

.side-social{
	padding:5px 20px;
	display:flex;
	justify-content: space-between;
}
.side-search{
	padding: 0 10%;
}
.side-search .side-search-text{
	display: inline-block;
	width: 70%;
	height: 40px;
}
.search-submit{
	cursor: pointer;
	border-radius: 0 10px 10px 0px;
	padding: 2px 8px;
	border: 1px solid black;
	color: white;
	height: 40px;
	background: var(--main-background-color);
}
.tags{
	display:flex;
	flex-wrap: wrap;
}
.tag{
	margin:5px 20px;
	cursor:pointer;
	border:1px solid var(--main-border-color);
	padding:3px 5px;
	border-radius:5px;
}
.comments{
	border-bottom:none;
}
.comment{
	margin:20px 0;
	display:grid;
	grid-gap:10px;
	grid-template-columns: 50px auto;
	grid-template-rows:1fr 1fr;
}
.comment__avatar{	
	grid-column: 1 / 2;
	grid-row:1 / 3;
	border-radius: 50%;
	width:50px;
	height:50px;
}

.comment__author{	
	grid-column: 2 / 3;
	grid-row:1 / 2;
}
.comment__content{
	grid-column: 2 / 3;
	grid-row:2 / 3;
	text-overflow: ellipsis;
	overflow: hidden; 
	display:inline-block;
	white-space: nowrap;
}